[submodule "lib/configfile"]
	path = lib/configfile
	url = https://github.com/ayebear/ConfigFile.git
	branch = master
[submodule "lib/ocs"]
	path = lib/ocs
	url = https://github.com/ayebear/OCS.git
	branch = master
[submodule "lib/nage"]
	path = lib/nage
	url = https://github.com/ayebear/NAGE.git
	branch = master
[submodule "lib/es"]
	path = lib/es
	url = https://github.com/ayebear/es.git
	branch = master
